{% extends 'main/layoute.html' %}

{%Block title%}
    <title>Прввая страница на Джанга</title>

{% endblock %}

{%Block content%}
     {%include 'main/nov.html' %}



<h1>Добро пожаловать на наш сайт!</h1>

<h3>Мы рады приветствовать вас на нашем первом проекте, созданном с использованием Django — мощного и гибкого веб-фреймворка. Наша цель — предоставить вам уникальный опыт и полезные ресурсы в удобной и доступной форме.</h3>

<h4>О проекте</h4>

<p>Этот сайт предназначен для демонстрации возможностей Django и создания интерактивных веб-приложений. Мы стремимся создать интуитивно понятный интерфейс, который поможет вам легко находить нужную информацию.</p>

  <h4>Особенности</h4>

<p>- **Адаптивный дизайн**: Наш сайт отлично смотрится на любых устройствах, будь то компьютер, планшет или смартфон.</p>
<p>- **Легкая навигация**: Мы позаботились о том, чтобы поиск информации был простым и быстрым.</p>
<p>- **Интерактивные элементы**: Вы можете взаимодействовать с различными функциями сайта, такими как формы и опросы.</p>

<p>Мы постоянно работаем над улучшением нашего проекта и добавлением новых возможностей. Ваши отзывы и предложения очень важны для нас. Не стесняйтесь делиться своими мыслями!</p>

<h4>Спасибо за посещение</h4>

<p>Мы надеемся, что вам понравится наше приложение, и вы найдете его полезным. Следите за обновлениями и новыми функциями, которые мы планируем внедрить в ближайшее время.</p>


{% endblock %}

